<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Pronto Bikes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light shadow">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
          <img
            src="{{url_for('static', path='assets/bike.svg')}}"
            alt="bike logo"
            width="auto"
            height="30px"
            class="d-inline-block Pronto Dashboard mx-2 align-text-top"
          />
          Pronto Dashboard
        </a>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-7">
          <div class="card shadow my-2 mx-2">
            <div class="card-body">
              <h3 class="card-title">Trips by day 📆</h3>
              <h6 class="card-subtitle mb-2 text-muted">Count of trips</h6>
              <div id="test" class="mt-2">
                <canvas id="myChart" width="600" height="300"></canvas>
              </div>
              <div class="input-group mt-3">
                <div class="row my-3">
                  <div class="col-4">
                    <input
                      id="startDate"
                      type="text"
                      class="form-control"
                      placeholder="Start"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                  <div class="col-4">
                    <input
                      id="endDate"
                      type="text"
                      class="form-control"
                      placeholder="End"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                  <div class="col-3">
                    <button
                      class="btn btn-primary"
                      style="background-color: #189078; font-style: italic"
                      id="date-btn"
                    >
                      Search
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="row">
            <div class="card shadow my-2 mx-2">
              <div class="card-body">
                <h3 class="card-title">Statistics ⏱</h3>
                
                <p class="card-text">
                  <div id="statsCard">

                  </div>
                </p>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card shadow my-2 mx-2">
              <div class="card-body">
                <h3 class="card-title">Average Rentals/Hour</h3>
                <div id="test2" class="mt-2">
                  <canvas id="myChart2" width="600" height="300"></canvas>
                </div>
                
              </div>
            </div>
          </div>
        </div>

       
      </div>
    </div>
  </body>
</html>

<style>
  body {
    background-color: white;
  }

  nav {
    background-color: #4e9f3d;
  }
</style>

<script>
  function createLineChart(canva_name, data) {
    var ctx = document.getElementById(canva_name);
    var color = "#4E9F3D";
    var myLineChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: data["labels"],
        datasets: [
          {
            label: "Number of Trips",
            data: data["values"],
            lineTension: 0.2,
            backgroundColor: HexToRGB(color, 0), //Area
            borderColor: color, //line
            borderWidth: 2.5,
            pointRadius: 0,
            pointBackgroundColor: "white", //Point
            pointBorderColor: color,
            pointHoverRadius: 4,
            pointHoverBackgroundColor: color,
            pointHoverBorderColor: color,
            pointHitRadius: 15,
          },
        ],
      },
      options: {
        scales: {
          x: {
            grid: {
              display: true,
            },
            ticks: {
              // For a category axis, the val is the index so the lookup via getLabelForValue is needed
              callback: function (val, index) {
                // Hide the label of every 2nd dataset
                return index % 2 === 0 ? this.getLabelForValue(val) : "";
              },
              maxTicksLimit: 10,
              maxRotation: 0,
              minRotation: 0,
              color: "black",
            },
          },

          y: {
            grid: {
              display: true,
            },
            ticks: {
              maxTicksLimit: 10,
              padding: 1,
            },
          },
        },

        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: "#6e707e",
          titleFontSize: 14,
          borderColor: "#dddfeb",
          borderWidth: 0.7,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: "index",
          caretPadding: 10,
        },
      },
    });
  }

  getTripsCount("2015-10-13 00:00:00", "2016-10-13 00:00:00", "myChart");

  function getTripsCount(inputStartDate, inputEndDate, canvasName) {
    axios
      .get("/trips", {
        params: {
          startDate: inputStartDate,
          endDate: inputEndDate,
        },
      })
      .then(function (response) {
        var data = {
          labels: [],
          values: [],
        };
        response["data"].forEach((element) => {
          data["labels"].push(element["_id"]);
          data["values"].push(element["count"]);
        });
        console.log(data);
        document.getElementById(
          "test"
        ).innerHTML = `<canvas id="myChart" width="600" height="300"></canvas>`;
        createLineChart(canvasName, data);
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      .then(function () {
        // always executed
      });
  }

  function HexToRGB(hex_color, trnsprnc) {
    var myRegexp = /#+([a-zA-Z0-9]{2})+([a-zA-Z0-9]{2})+([a-zA-Z0-9]{2})/gm;
    var m = myRegexp.exec(hex_color);
    var r = parseInt(m[1], 16);
    var g = parseInt(m[2], 16);
    var b = parseInt(m[3], 16);

    return "rgb(" + r + "," + g + "," + b + "," + trnsprnc + ")";
  }

  document.getElementById("date-btn").addEventListener("click", function () {
    var start_date = document.getElementById("startDate").value;
    var end_date = document.getElementById("endDate").value;
    const regex = /\d{4}-\d{2}-\d{2}/;
    if (regex.test(start_date) && regex.test(end_date)) {
      getTripsCount(
        start_date.concat(" ", "00:00:00"),
        end_date.concat(" ", "00:00:00"),
        "myChart"
      );
    } else {
      console.log("not good");
    }
  });

  createStatsCard()
  function createStatsCard() {
    axios
      .get("/stats")
      .then(function (response) {
        data = response['data']['TripDuration'][0]
        console.log(data)
        var statsCard = document.getElementById("statsCard");
        var content = 
        `
            <h6>Avg : ${data['avg']}s</h6>
            <h6>Minimum : ${data['min']}s</h6>
            <h6>Maximum : ${data['max']}s</h6>
            
        
        ` 
        statsCard.innerHTML = content
      
      })
      .catch(function (error) {
        console.log(error);
      })
      .then(function () {
      });
  }
  getTripsCountHour("myChart2")
  function getTripsCountHour(canvasName) {
    axios
      .get("/hour", {
        
      })
      .then(function (response) {
        var data = {
          labels: [],
          values: [],
        };
        response["data"].forEach((element) => {
          data["labels"].push(element["_id"]);
          data["values"].push(element["avg"]);
        });
        console.log(data);
        document.getElementById(
          "test2"
        ).innerHTML = `<canvas id="myChart2" width="600" height="300"></canvas>`;
        createLineChart(canvasName, data);
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      .then(function () {
        // always executed
      });
  }
</script>
